<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pk_change_page_title</name>
	<displayName><![CDATA[Change page title]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[It\'s a module thanks you can change page title when user escape your shop and go to other website.]]></description>
	<author><![CDATA[Patryk Krawczyk]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
